@charset "utf-8";
@font-face {
  font-family: "UnicaOne";
  src: url(UnicaOne-Regular.ttf);
}
@font-face {
  font-family: "Vollkorn";
  src: url(Vollkorn-Regular.ttf);
}

// Define defaults for each variable.
$base-font-family: "Vollkorn", sans-serif !default;
$header-font-family: "UnicaOne", sans-serif !default;
$base-font-size: 18px !default;
$base-font-weight: 400 !default;
$header-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 32px !default;

$text-color: #c3b6a2 !default;
$background-color: #232b32 !default;
$brand-color: #fa8334 !default;
$selection-color: #424b54 !default;

$grey-color: #ececec !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base", "minima/layout", "minima/syntax-highlighting",
  "customizations";
