.timeline {
  ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;

    &::before {
      content: " ";
      height: 100%;
      width: 1px;
      background-color: $grey-color;
      position: absolute;
      top: 0;
      left: 2.5em;
      z-index: -1;
    }
  }

  li div {
    display: inline-block;
    margin: 1em 0;
    vertical-align: top;
  }

  .bullet {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background: $background-color;
    z-index: 1;
    margin-right: 1em;

    &.mitrefinch {
      border: 2px solid #ed2f3e;
    }

    &.ifs {
      border: 2px solid #873e8d;
    }

    &.multipie {
      border: 2px solid #ff9900;
    }
  }

  .time {
    width: 20%;
    font-size: 1rem;
    font-family: $header-font-family;
    text-transform: uppercase;
  }

  .desc {
    width: 50%;
    margin-top: 0.8rem;
  }

  h3 {
    margin: 0;
  }

  .designation {
    margin: 0;
    font-family: $header-font-family;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
  }
}
